.educationSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  line-height: 1.4rem;
}
.educationSection h4 {
  font-size: 1.5rem;
}
.educationRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.yearContainer {
  width: 10%;
}
.courseContainer {
  width: 45%;
}
.schoolContainer {
  width: 45%;
}
@media screen and (max-width: 800px) {
  .educationSection {
    display: block;
    font-size: 0.5rem;
    padding: 0 0.4rem;
    line-height: 1rem;
  }
  .educationSection h4 {
    font-size: 0.8rem;
    text-align: left;
  }
}
